.skills_container{
    width: 100%;
    height: 100vh;
    background-color: #20242d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* gap: 3rem; */
}


.logo{
    width: 70%;
    /* height: 60%; */
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    color: white;
    /* background-color: red; */
}

.logo h2{
    text-align: center;
}

.html{
position: relative;
}

.logo > div{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 width: 200px;
 height: 200px;
box-shadow: 0 0 10px rgb(63, 63, 63);
 border-radius: 10px;
 flex-direction: column ;
 background-color: #232731;
}

.logo > div:hover{
  transform: scale(1.1) translateY(-5px);
   box-shadow: 0 0 20px rgb(63, 63, 63);
   transition: 0.3s ease-in-out;
    background-color: #343a49;
   }

.tools > img{
    width: 100px;

}

.css img{
    width: 80px;
}

.html{
    width: 100px;
    border-radius: 50%;
    height: 100px;
 box-shadow: 0 0 10px grey;
    
}
.html img{
    width: 100%;
}

.css,
.js,
.react,
.github,
.git,
.Tail{
    width: 100px;
    width: 100px;
    border-radius: 50%;
    height: 100px;
 box-shadow: 0 0 10px grey;

}
/* .html:hover,
.css:hover,
.js:hover,
.react:hover,
.github:hover,
.git:hover,
.Tail:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    border-radius: 50%;
    height: 100px;
 box-shadow: 0 0 20px grey;
} */


.skills_head{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}




.css img,
.js  img,
.react img,
.github img,
.git img,
.Tail img{
    width: 100px;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
 
}

.github img{
    width: 100px;
    object-position: left;
}

.html img{
    width: 100px ;
height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.css{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.css img{
    border-radius: 50%;

}






