.main {
  width: 100%;
  margin: auto;
  height: 90vh;
  background-color: #20242d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.inner {
  width: 79%;
  height: 90%;
  /* margin: auto; */
  /* background-color: rgb(0, 26, 255); */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.hello,
.and {
  font-size: 2.2rem;
}

.full {
  color: #01eeff;
}

.surya {
  font-size: 3rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lorem {
  font-size: 1.1rem;
}

.download {
  text-decoration: none;
  color: black;
  width: 130px;
  height: 40px;
  display: grid;
  place-items: center;
  font-weight: 400;
  border-radius: 20px;
  box-shadow: 0 0 15px #01eeff;
  background-color: #01eeff;
  margin-top: 2rem;
  transition: 0.3s ease-out;
}

.download:hover {
  transform: translateY(-10px) scale(1.1);
  background-color: black;
  color: #01eeff;
  box-shadow: 0 0 20px #01eeff;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #01eeff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px #01eeff;
  transition: 0.3s ease-in-out;
}

.span:hover {
  transform: translateY(-5px);
  background-color: #01eeff;
  box-shadow: 0 10px 20px #01eeff;
}

.span:hover svg {
  fill: black;
}

.right img {
  width: 550px;
}

.right{
    /* background-color: red; */
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
}
